
/**
 * The text could use some tweaks.
 *
 * First, let's add a fun background.
 *
 * Try changing it later.
 */

 #work-text {
  background: url("https://seizeth.is/seize.png") repeat-y local;
 }

 .md {
  font-family: Verdana, Geneva, sans-serif;
}

/**
 * That's better.
 *
 * If you want to contact us via PGP 
 *
 * our key on the left.
 */

#pgp-text {
  font-size: 12px;
  color: #ada;
}
